<div uk-grid>
  <div></div>
  <div>

  </div>
  <div></div>
</div>

<div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
  <div>
  </div>
  <div>
    <div>
      <%= simple_form_for(@session, url: login_path) do |f| %>
          <%= f.input :user_name %>
          <%= f.input :password %>

          <%= f.button :submit %>
      <% end %>
    </div>
  </div>
  <div>
  </div>
</div>